site:
  title: TED Developer Docs
  url: https://docs.ted.europa.eu
  start_page: home::index.adoc

antora:
  extensions:
  - id: render-apidocs
    require: ./lib/apidoc/apidoc-antora-extension
    openapi-generator:
      config: config/openapi-generator/asciidoc.yaml
      templates: templates/openapi-generator/asciidoc
  - id: lunr-search
    require: ./lib/lunr/lunr-antora-extension
    enabled: false

asciidoc:
  attributes:
    ### Site sub-title (displayed next to the site.title at the header).
    page-site-subtitle: Documentation for TED developers and eSenders

    ### Component's Latest Version
    #
    # We want to know the latest version of each component so we can create a redirect for the latest version.
    # Such a redirect would be useful for users that want to bookmark a link to the latest documentation for a component.
    # For example, we would be able to provide a link of the form: https://docs.ted.europa.eu/eforms/latest.  
    # It is also nice to be able to indicate a component's version in the main navigation panel (modules/ROOT/nav.adoc).
    #
    # However, we do not currently have any other way to determine the latest version of a component outside a page in the component itself.
    # So, as a workaround, we store the latest version of each component in these site-wide asciidoc attributes.
    # The downside is that we have to update these attributes whenever we release a new version of a component.
    #
    eforms_latest_version: '1.14'
    epo_latest_version: '5.2.0'
    espd_latest_version: '4.1.0'
    api_latest_version: '3.0'

  extensions:
  - ./lib/apidoc/apidoc-asciidoc-extension

content:
  edit_url: false
  sources:

  ### Local content
  - url: .
    start_path: content
    branches: HEAD

  ### eForms SDK
  - url: https://github.com/OP-TED/eforms-docs.git
    start_path: /
    branches: 1.14.x, 1.13.x, 1.13.x-generated, 1.12.x, 1.12.x-generated, 1.11.x, 1.11.x-generated, 1.10.x, 1.10.x-generated, 1.9.x, 1.9.x-generated, 1.8.x, 1.8.x-generated, 1.7.x, 1.7.x-generated, 1.6.x, 1.6.x-generated, main # The "main" branch contains the eForms FAQ and RoadMap

  ### ePO Documentation
  - url: https://github.com/OP-TED/epo-docs.git
    start_path: /
    branches: main, v*, wg-meetings

  ###  ESPD
  - url: https://github.com/OP-TED/espd-docs.git
    start_path: /
    branches: main, v1.0.x, v2.0.x, v2.1.x, v3.0.x, v3.1.x, v3.2.x, v3.3.x, v4.0.x, v4.1.x, wgm-reports
    #tags:
    #- 2.1.0

    ### TED API
  - url: https://github.com/OP-TED/tedapi-docs.git
    start_path: /
    branches: v2.0, v3.0 # The "main" branch contains unversioned content.

  ### TED Semantic Web Service
  - url: https://github.com/OP-TED/ted-rdf-docs
    start_path: docs/antora
    branches: main
    
  ### model2owl
  - url: https://github.com/OP-TED/ted-model2owl-docs
    start_path: /
    branches: main

urls:
  redirect_facility: static
  # html_extension_style: indexify
  latest_version_segment: latest

ui:
  bundle:
    url: https://github.com/OP-TED/antora-eui/releases/download/ui-bundle/master/ui-bundle.zip
    snapshot: true
  supplemental_files: ./content/supplemental-ui

git:
  fetch_concurrency: 1
