swagger: '2.0'
info:
  description: |-
    This API provides multiple read-only operations on the TED website data. The search-controller-v3 is now available to search both TED schema notices and eForms notices. The search-controller-v3 is non-backwards compatible.
    Note: <a href="https://data.europa.eu/eli/reg_impl/2019/1780/oj" target="_blank">eForms</a> introduce a new TED schema. If you reuse TED notices, you need to adapt your systems to support the new notices. More information available on the <a href="https://simap.ted.europa.eu/en_GB/web/simap/eforms" target="_blank">dedicated SIMAP page</a>. 

     <a href="https://ted.europa.eu/TED/misc/legalNotice.do" target="_blank">Terms of service</a> 

    <a href="https://ted.europa.eu/TED/main/HomePage.do" target="_blank">TED - Website</a>

    <a href="https://ted.europa.eu/TED/misc/contact.do" target="_blank">Contact</a>

    <a href="https://ted.europa.eu/TED/misc/legalNotice.do" target="_blank">Legal notice</a>
  version: v1.01
  title: TED website API
host: ted.europa.eu
basePath: /
tags:
  - name: search-controller-v-1
    description: Search Controller V 1
  - name: search-controller-v-2
    description: Search Controller V 2
  - name: search-controller-v-3
    description: Search Controller V 3
paths:
  /api/v1.0/notices/search:
    get:
      tags:
        - search-controller-v-1
      summary: Search for notices using expert search query
      description: For more information in the query format or field names, please consult https://ted.europa.eu/TED/misc/helpPage.do?helpPageId=expertSearch. If your URL length is too long, use the POST method.
      operationId: searchGetUsingGET
      produces:
        - application/json
      parameters:
        - name: apiKey
          in: query
          description: API key
          required: true
          type: string
          allowEmptyValue: false
        - name: fields
          in: query
          description: |-
            description":"The list of field names to return for each notice. CONTENT is the notice in XML encoded in base64. 
            If a field indicated here has no value for a notice, it will be omitted in the response.
          required: false
          type: array
          items:
            type: string
            enum:
              - AA
              - AC
              - CY
              - AW
              - CB
              - DD
              - DI
              - DS
              - DT
              - FN
              - MA
              - NC
              - ND
              - NI
              - NV
              - NT
              - OC
              - OJ
              - OL
              - OY
              - PC
              - PD
              - PR
              - RC
              - RN
              - RP
              - TD
              - TVH
              - TVL
              - TY
              - CONTENT
          collectionFormat: multi
          allowEmptyValue: false
          enum:
            - AA
            - AC
            - CY
            - AW
            - CB
            - DD
            - DI
            - DS
            - DT
            - FN
            - MA
            - NC
            - ND
            - NI
            - NV
            - NT
            - OC
            - OJ
            - OL
            - OY
            - PC
            - PD
            - PR
            - RC
            - RN
            - RP
            - TD
            - TVH
            - TVL
            - TY
            - CONTENT
        - name: pageNum
          in: query
          description: Current page number. The page number is 1-based
          required: false
          type: integer
          default: 1
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          allowEmptyValue: false
          x-example: 5
        - name: pageSize
          in: query
          description: Number of results per page. This value is capped at 100 when the CONTENT field is requested, otherwise it is capped at 1000.
          required: false
          type: integer
          default: 0
          format: int32
          allowEmptyValue: false
          x-example: 10
        - name: q
          in: query
          description: Search query
          required: true
          type: string
          allowEmptyValue: false
        - name: reverseOrder
          in: query
          description: Display the results in reverse order
          required: false
          type: boolean
          default: false
          allowEmptyValue: false
          x-example: false
          enum:
            - 'true'
            - 'false'
        - name: scope
          in: query
          description: Search scope. 1 for 'Last edition'; 2 for 'Active'; 3 for 'All'
          required: false
          type: integer
          default: 1
          format: int32
          allowEmptyValue: false
          x-example: 1
          enum:
            - 1
            - 2
            - 3
        - name: sortField
          in: query
          description: Field for sorting the search results
          required: false
          type: string
          default: ND
          allowEmptyValue: false
          enum:
            - CY
            - DD
            - DS
            - DT
            - ND
            - OJ
            - OL
            - PD
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponseV1'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - search-controller-v-1
      summary: Search for notices using expert search query
      description: Search for notices
      operationId: searchPostUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: searchRestRequest
          description: searchRestRequest
          required: false
          schema:
            $ref: '#/definitions/OldSearchRestRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponseV1'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v2.0/notices/attributes/nuts/count:
    get:
      tags:
        - search-controller-v-2
      summary: Search for notices for map
      description: Gets notices by nuts code for the browse by map feature
      operationId: retrieveNoticesNutsCountUsingGET
      produces:
        - application/json
      parameters:
        - name: apiKey
          in: query
          description: API key
          required: false
          type: string
          allowEmptyValue: false
        - name: scope
          in: query
          description: Search scope. 1 for 'Last edition'; 2 for 'Active'
          required: false
          type: integer
          default: 1
          format: int32
          allowEmptyValue: false
          x-example: 1
          enum:
            - 1
            - 2
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchDataMapResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v2.0/notices/search:
    get:
      tags:
        - search-controller-v-2
      summary: Search for notices using expert search query
      description: For more information in the query format or field names, please consult https://ted.europa.eu/TED/misc/helpPage.do?helpPageId=expertSearch. If your URL length is too long, use the POST method.
      operationId: searchGetUsingGET_1
      produces:
        - application/json
      parameters:
        - name: apiKey
          in: query
          description: API key
          required: false
          type: string
        - name: fields
          in: query
          description: |-
            The list of field names to return for each notice. CONTENT is the notice in XML encoded in base64.
            If a field indicated here has no value for a notice, it will be omitted in the response.
          required: false
          type: array
          items:
            type: string
            enum:
              - AA
              - AC
              - CY
              - AW
              - CB
              - DD
              - DI
              - DS
              - DT
              - FN
              - MA
              - NC
              - ND
              - NI
              - NV
              - NT
              - OC
              - OJ
              - OL
              - OY
              - PC
              - PD
              - PR
              - RC
              - RN
              - RP
              - TD
              - TVH
              - TVL
              - TY
              - CONTENT
          collectionFormat: multi
          enum:
            - AA
            - AC
            - CY
            - AW
            - CB
            - DD
            - DI
            - DS
            - DT
            - FN
            - MA
            - NC
            - ND
            - NI
            - NV
            - NT
            - OC
            - OJ
            - OL
            - OY
            - PC
            - PD
            - PR
            - RC
            - RN
            - RP
            - TD
            - TVH
            - TVL
            - TY
            - CONTENT
        - name: pageNum
          in: query
          description: Number of the current page
          required: false
          type: integer
          default: 1
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          x-example: 5
        - name: pageSize
          in: query
          description: Number of results per page. This value is capped at 100 when the CONTENT field is requested, otherwise it is capped at 1000.
          required: false
          type: integer
          format: int32
          x-example: 15
        - name: q
          in: query
          description: Search query
          required: true
          type: string
        - name: reverseOrder
          in: query
          description: Display the result in reverse order
          required: false
          type: boolean
          default: false
          x-example: false
          enum:
            - 'true'
            - 'false'
        - name: scope
          in: query
          description: Search scope. 1 for 'Last edition'; 2 for 'Active notices'; 3 for 'All'
          required: false
          type: integer
          default: 1
          format: int32
          x-example: 1
          enum:
            - 1
            - 2
            - 3
        - name: sortField
          in: query
          description: Field for sorting of search results
          required: false
          type: string
          default: ND
          enum:
            - CY
            - DD
            - DS
            - DT
            - ND
            - OJ
            - OL
            - PD
            - TVH
            - TVL
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponseV2'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - search-controller-v-2
      summary: Search for notices using expert search query
      description: Search for notices
      operationId: searchPostUsingPOST_1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: oldSearchRestRequest
          description: oldSearchRestRequest
          required: false
          schema:
            $ref: '#/definitions/OldSearchRestRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponseV2'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v3.0/notices/attributes/nuts/count:
    get:
      tags:
        - search-controller-v-3
      summary: Search for notices for map
      description: Gets notices by nuts code for the browse by map feature
      operationId: retrieveNoticesNutsCountUsingGET_1
      produces:
        - application/json
      parameters:
        - name: apiKey
          in: query
          description: API key
          required: false
          type: string
          allowEmptyValue: false
        - name: scope
          in: query
          description: Search scope. 1 for 'Last edition'; 2 for 'Active'
          required: false
          type: integer
          default: 1
          format: int32
          allowEmptyValue: false
          x-example: 1
          enum:
            - 1
            - 2
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchDataMapResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v3.0/notices/search:
    get:
      tags:
        - search-controller-v-3
      summary: Search for notices using expert search query
      description: For more information in the query format or field names, please consult https://ted.europa.eu/TED/misc/helpPage.do?helpPageId=expertSearch. If your URL length is too long, use the POST method.
      operationId: searchGetUsingGET_2
      produces:
        - application/json
      parameters:
        - name: apiKey
          in: query
          description: API key
          required: false
          type: string
        - name: fields
          in: query
          description: |-
            The list of field names to return for each notice. CONTENT is the notice in XML encoded in base64.
            If a field indicated here has no value for a notice, it will be omitted in the response.
          required: false
          type: array
          items:
            type: string
            enum:
              - AA
              - AC
              - CY
              - award-criterion-type
              - corporate-body
              - DD
              - DI
              - DS
              - DT
              - funding
              - MA
              - NC
              - ND
              - notice-identifier
              - notice-version
              - notice-type
              - OC
              - OJ
              - OL
              - OY
              - PC
              - PD
              - PR
              - RC
              - RN
              - RP
              - TD
              - TVH
              - TVL
              - TY
              - CONTENT
          collectionFormat: multi
          enum:
            - AA
            - AC
            - CY
            - award-criterion-type
            - corporate-body
            - DD
            - DI
            - DS
            - DT
            - funding
            - MA
            - NC
            - ND
            - notice-identifier
            - notice-version
            - notice-type
            - OC
            - OJ
            - OL
            - OY
            - PC
            - PD
            - PR
            - RC
            - RN
            - RP
            - TD
            - TVH
            - TVL
            - TY
            - CONTENT
        - name: pageNum
          in: query
          description: Number of the current page
          required: false
          type: integer
          default: 1
          exclusiveMaximum: false
          minimum: 1
          exclusiveMinimum: false
          format: int32
          x-example: 5
        - name: pageSize
          in: query
          description: Number of results per page. This value is capped at 100 when the CONTENT field is requested, otherwise it is capped at 1000.
          required: false
          type: integer
          format: int32
          x-example: 15
        - name: q
          in: query
          description: Search query
          required: true
          type: string
        - name: reverseOrder
          in: query
          description: Display the result in reverse order
          required: false
          type: boolean
          default: false
          x-example: false
          enum:
            - 'true'
            - 'false'
        - name: scope
          in: query
          description: Search scope. 1 for 'Last edition'; 2 for 'Active notices'; 3 for 'All'
          required: false
          type: integer
          default: 1
          format: int32
          x-example: 1
          enum:
            - 1
            - 2
            - 3
        - name: sortField
          in: query
          description: Field for sorting of search results
          required: false
          type: string
          default: ND
          enum:
            - CY
            - DD
            - DS
            - DT
            - ND
            - OJ
            - OL
            - PD
            - TVH
            - TVL
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponseV3'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - search-controller-v-3
      summary: Search for notices using expert search query
      description: Search for notices
      operationId: searchPostUsingPOST_2
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: searchRestRequest
          description: searchRestRequest
          required: false
          schema:
            $ref: '#/definitions/SearchRestRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SearchResponseV3'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
definitions:
  FilterProvider:
    type: object
    title: FilterProvider
  MappingJacksonValue:
    type: object
    properties:
      filters:
        $ref: '#/definitions/FilterProvider'
      jsonpFunction:
        type: string
      value:
        type: object
    title: MappingJacksonValue
  OldSearchRestRequest:
    type: object
    properties:
      apiKey:
        type: string
      fields:
        type: array
        items:
          type: string
          enum:
            - AA
            - AC
            - CY
            - AW
            - CB
            - DD
            - DI
            - DS
            - DT
            - FN
            - MA
            - NC
            - ND
            - NI
            - NV
            - NT
            - OC
            - OJ
            - OL
            - OY
            - PC
            - PD
            - PR
            - RC
            - RN
            - RP
            - TD
            - TVH
            - TVL
            - TY
            - CONTENT
      pageNum:
        type: integer
        format: int32
      pageSize:
        type: integer
        format: int32
      q:
        type: string
      reverseOrder:
        type: boolean
      scope:
        type: integer
        format: int32
      sortField:
        type: string
    title: OldSearchRestRequest
  RestNoticeResultV1:
    type: object
    properties:
      AA:
        type: string
      AC:
        type: string
      CY:
        type: string
      DD:
        type: string
        format: date
      DI:
        type: string
      DS:
        type: string
        format: date
      DT:
        type: string
        format: date
      MA:
        type: string
      NC:
        type: string
      ND:
        type: integer
        format: int32
      OC:
        type: array
        items:
          type: string
      OJ:
        type: integer
        format: int32
      OL:
        type: string
      OY:
        type: array
        items:
          type: string
      PC:
        type: array
        items:
          type: string
      PD:
        type: string
        format: date
      PR:
        type: string
      RC:
        type: array
        items:
          type: string
      RN:
        type: integer
        format: int32
      RP:
        type: string
      TD:
        type: string
      TY:
        type: string
      content:
        type: string
        format: byte
    title: RestNoticeResultV1
  RestNoticeResultV2:
    type: object
    properties:
      AA:
        type: string
      AC:
        type: string
      BI:
        type: array
        items:
          type: string
      CY:
        type: string
      DD:
        type: string
        format: date
      DI:
        type: string
      DS:
        type: string
        format: date
      DT:
        type: string
        format: date
      MA:
        type: string
      NC:
        type: string
      ND:
        type: string
      NL:
        type: integer
        format: int64
      OC:
        type: array
        items:
          type: string
      OJ:
        type: string
      OL:
        type: string
      OY:
        type: array
        items:
          type: string
      PC:
        type: array
        items:
          type: string
      PD:
        type: string
        format: date
      PR:
        type: string
      RC:
        type: array
        items:
          type: string
      RN:
        type: integer
        format: int32
      RP:
        type: string
      TD:
        type: string
      TVH:
        type: string
      TVL:
        type: string
      TY:
        type: string
      content:
        type: string
        format: byte
    title: RestNoticeResultV2
  RestNoticeResultV3:
    type: object
    properties:
      AA:
        type: array
        items:
          type: string
      AC:
        type: string
      BI:
        type: array
        items:
          type: string
      CY:
        type: array
        items:
          type: string
      DD:
        type: string
        format: date
      DI:
        type: string
      DS:
        type: string
        format: date
      DT:
        type: array
        items:
          type: string
      MA:
        type: array
        items:
          type: string
      NC:
        type: array
        items:
          type: string
      ND:
        type: string
      NL:
        type: integer
        format: int64
      OC:
        type: array
        items:
          type: string
      OJ:
        type: string
      OL:
        type: string
      OY:
        type: array
        items:
          type: string
      PC:
        type: array
        items:
          type: string
      PD:
        type: string
        format: date
      PR:
        type: string
      RC:
        type: array
        items:
          type: string
      RN:
        type: array
        items:
          type: integer
          format: int32
      RP:
        type: string
      TD:
        type: string
      TVH:
        type: string
      TVL:
        type: string
      TY:
        type: string
      award-criterion-type:
        type: array
        items:
          type: string
      content:
        type: string
        format: byte
      corporate-body:
        type: array
        items:
          type: string
      funding:
        type: array
        items:
          type: string
      notice-identifier:
        type: string
      notice-type:
        type: string
      notice-version:
        type: string
    title: RestNoticeResultV3
  SearchDataMapResponse:
    type: object
    properties:
      results:
        type: object
        additionalProperties:
          type: integer
          format: int64
      took:
        type: integer
        format: int64
      total:
        type: integer
        format: int32
    title: SearchDataMapResponse
  SearchResponseV1:
    type: object
    properties:
      results:
        type: array
        items:
          $ref: '#/definitions/RestNoticeResultV1'
      took:
        type: integer
        format: int64
      total:
        type: integer
        format: int32
    title: SearchResponseV1
  SearchResponseV2:
    type: object
    properties:
      results:
        type: array
        items:
          $ref: '#/definitions/RestNoticeResultV2'
      took:
        type: integer
        format: int64
      total:
        type: integer
        format: int32
    title: SearchResponseV2
  SearchResponseV3:
    type: object
    properties:
      results:
        type: array
        items:
          $ref: '#/definitions/RestNoticeResultV3'
      took:
        type: integer
        format: int64
      total:
        type: integer
        format: int32
    title: SearchResponseV3
  SearchRestRequest:
    type: object
    properties:
      apiKey:
        type: string
      fields:
        type: array
        items:
          type: string
          enum:
            - AA
            - AC
            - CY
            - award-criterion-type
            - corporate-body
            - DD
            - DI
            - DS
            - DT
            - funding
            - MA
            - NC
            - ND
            - notice-identifier
            - notice-version
            - notice-type
            - OC
            - OJ
            - OL
            - OY
            - PC
            - PD
            - PR
            - RC
            - RN
            - RP
            - TD
            - TVH
            - TVL
            - TY
            - CONTENT
      pageNum:
        type: integer
        format: int32
      pageSize:
        type: integer
        format: int32
      q:
        type: string
      reverseOrder:
        type: boolean
      scope:
        type: integer
        format: int32
      sortField:
        type: string
    title: SearchRestRequest
