 <!-- Cookie Banner -->
   <div id="cookie-banner">
    <div class="cookie-wrapper">
    <div class="info">
      <div class="icon">
      <svg viewBox="0 0 48 48" aria-hidden="true" focusable="false" xmlns="xmlns=&quot;http://www.w3.org/2000/svg" class="icon wt-icon--l wt-icon--primary" width="32" height="32" fill="currentColor">
      <path fill-rule="evenodd" d="M42 3H6C4.35 3 3 4.35 3 6v36c0 1.65 1.35 3 3 3h36c1.65 0 3-1.35 3-3V6c0-1.65-1.35-3-3-3M21.93 13.38a2.31 2.31 0 0 1 2.1-1.41c.6 0 1.17.24 1.59.66s.66.99.66 1.59c0 .45-.12.87-.39 1.26-.24.36-.6.66-1.02.84s-.87.21-1.29.12c-.45-.09-.84-.3-1.14-.63-.3-.3-.54-.72-.63-1.14s-.03-.9.12-1.29M30 36H18v-3h4.5v-9h-3v-3h6v12H30z" clip-rule="evenodd"></path>
      
      </svg>
      </div>
      <div class="text">
        This site uses cookies. Visit our <a href="https://ted.europa.eu/en/cookie-choice">cookies policy page</a> or click the link in any footer for more information and to change your preferences.
      </div>
    </div>
    <div class="actions">
      <button onclick="acceptCookies('all')">Accept all cookies</button>
      <button onclick="acceptCookies('essential')">Accept only essential cookies</button>
    </div>
    </div>
  </div>

   <!-- JavaScript to handle cookie banner -->
 <script>
  document.addEventListener('DOMContentLoaded', () => {
    const isAccepted = localStorage.getItem('cookiesAccepted');
    if (!isAccepted) {
      document.getElementById('cookie-banner').style.display = 'flex';
    } else {
      applyConsentSettings(isAccepted);
    }
  });

  function acceptCookies(type) {
    localStorage.setItem('cookiesAccepted', type);
    document.getElementById('cookie-banner').style.display = 'none';
    applyConsentSettings(type);
  }

  function applyConsentSettings(type) {
    if (type === 'all') {
      // User accepts all cookies
      var consentAccepted = { consents: { analytics: { status: 1 } } };
      ppms.cm.api('setComplianceSettings', consentAccepted, function (new_consent) {});
    } else if (type === 'essential') {
      // User accepts only essential cookies
      var consentRejected = { consents: { analytics: { status: 0 } } };
      ppms.cm.api('setComplianceSettings', consentRejected, function (new_consent) {});
    }
  }


