.navbar .logo {
    height: 3.5rem !important;
}

.navbar .navbar-title {
    visibility: collapse;
}

.tile-container .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile {
    width: 48%;
    margin: 1%;
    background-color: transparent !important;
    border: 1px solid #ccc;
    border-radius: 0.2rem !important;
    padding: 1rem !important;
    box-shadow: 2px 2px 2px #e1e1e1;
}

.tile .content .title {
    font-size: 1.3em !important;
    text-align: left !important;
    font-style: normal;
    color: #2c862d;
    background-color: #fafafa;
    margin: -1rem -1rem 0rem -1rem !important;
    padding: 0.6rem 1rem 0.4rem 1rem;
    flex: auto;
    border-bottom: 1px solid #ccc;
}

.tile .content {
    font-size: 0.9em;
}
